/*-----------HEADER---------------*/
#Logo{
    color: blue;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fullpage{
    background-color: lightblue;
}
.button{
    text-align: center;
    color: black;
    align-self: flex-end;
}
.Header{
    background-color: red;
    display: flex;
    justify-content: space-between;
}
/*-------------First--------------*/
.front-top{
    background-color: greenyellow;
    display: flex;
    justify-content: space-evenly;
}
.front-text{
    align-self: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.image{
    height: 200px;
    width: 200px;
}
.blah-text{
    flex-wrap: wrap;
    font-family: fantasy;
    letter-spacing: 0.1px;
    word-spacing: 2px;
}
/*-----------Steps------------*/
.full-steps{
        background-color: antiquewhite;
}
.steps{
    display: flex;
    justify-content: space-around;
}
.image-steps{
    width: 200px;
    height: 200px;
}
.text-dec{
    display: flex;
    justify-content: space-around;
}
/*------------Bottom Part-----------*/
.bottom-part{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}
.end{
    background-color: red;
    display: flex;
    justify-content: space-between;
}